<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD NodeJS MARIADB</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    </head>
<body>
    <nav class="nabar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD NODE MARIADB</a> 
    </nav>